<a class="godo-tracking p-2 inline-block hover:text-primary"
	data-event-category="Header"
	data-event-action="Social"
	data-event-label="{{social}}"
	data-event-non-interaction="true"
	title="{{social}} {{user}}"
	aria-label="{{social}} {{user}}"
	href="{{social_url}}"
	target="_blank"
	rel="noopener noreferrer">
	<svg class="icon icon--{{icon}}"><use xlink:href="#icon-{{icon}}"></use></svg>
</a>

